<%= render partial: "decidim/shared/tags.html", locals: { resource: model, tags_class_extra: "tags--proposal" } %>

<p><%= icon('thumb-up') %> <%= comments[:good_s] %>　<%= icon('thumb-down') %> <%= comments[:bad_s] %></p>


